<div ng-include="navBar"></div>
<div class="row">
  <!-- <div class="col-sm-2">
    <div class="card mt-5" ng-if="links">
      <div class="list-group">
        <a class="list-group-item list-group-item-action" ui-sref-active="active" ng-repeat="link in links" ui-sref="{{link.link}}">
          {{link.title | titlecase}}
        </a>
      </div>
    </div>
    <ul class="nav" ng-if="links">
      <li class="nav-item" ng-repeat="link in links">
        <a class="nav-link" ui-sref-active="active" ng-href="{{link.link}}">{{link.title | titlecase}}</a>
      </li>
    </ul>
  </div> -->
  <div class="col-sm">
    <main role="main" class="mt-5" ui-view></main>
  </div>
</div>

